.introducao-bg{
  background-image: url(../../img/background/bg-white.png);
  background-position: center;
  background-repeat: repeat;
  background-size: auto;
}
.introducao-bloco{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.introducao-txt{
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.intro-nome h1{
  width: 7ch;
  line-height: 65px;
}
.intro-detalhe{
  display: flex;
  align-items: last baseline;
}
.intro-detalhe span{
  letter-spacing: -10px;
  line-height: 95px;
  width: 7ch;
}
.intro-detalhe p {
  width: 10ch;
}
.introducao-carrossel{
  display: grid;
  grid-template-columns: auto auto;
  gap: 25px;
}