.sobre-bg{
  background: var(--cor-6);
}
.sobre{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  color: var(--cor-1);
}
.sobre-redes-sociais{
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 40px;
}
.sobre-conteudo{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media(max-width:820px){
  .sobre{
    padding-top: 50px;
  }
  .sobre-conteudo h3{
    font-size: 1.25rem;
  }
  .sobre-conteudo p{
    font-size: 1rem;
  }
}